tags/nan/error_handling/SemplestServices/wsdl/Administration.wsdl

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<wsdl:definitions xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="https://adcenter.microsoft.com/v8" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdministrationService" targetNamespace="https://adcenter.microsoft.com/v8">
  <wsp:Policy wsu:Id="BasicHttpBinding_IAdministrationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false"/>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256/>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict/>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="https://adcenter.microsoft.com/v8/Imports">
      <xsd:import namespace="https://adcenter.microsoft.com/v8" schemaLocation="https://adcenterapi.microsoft.com/Api/Advertiser/V8/Administration/AdministrationService.svc?xsd=xsd0"/>
      <xsd:import namespace="https://adapi.microsoft.com" schemaLocation="https://adcenterapi.microsoft.com/Api/Advertiser/V8/Administration/AdministrationService.svc?xsd=xsd2"/>
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" schemaLocation="https://adcenterapi.microsoft.com/Api/Advertiser/V8/Administration/AdministrationService.svc?xsd=xsd1"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetAssignedQuotaRequest">
    <wsdl:part element="tns:GetAssignedQuotaRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetAssignedQuotaRequest_Headers">
    <wsdl:part element="tns:ApplicationToken" name="ApplicationToken"/>
    <wsdl:part element="tns:CustomerAccountId" name="CustomerAccountId"/>
    <wsdl:part element="tns:CustomerId" name="CustomerId"/>
    <wsdl:part element="tns:DeveloperToken" name="DeveloperToken"/>
    <wsdl:part element="tns:Password" name="Password"/>
    <wsdl:part element="tns:UserName" name="UserName"/>
  </wsdl:message>
  <wsdl:message name="GetAssignedQuotaResponse">
    <wsdl:part element="tns:GetAssignedQuotaResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetAssignedQuotaResponse_Headers">
    <wsdl:part element="tns:TrackingId" name="TrackingId"/>
  </wsdl:message>
  <wsdl:message name="IAdministrationService_GetAssignedQuota_AdApiFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q1="https://adapi.microsoft.com" element="q1:AdApiFaultDetail" name="detail"/>
  </wsdl:message>
  <wsdl:message name="GetRemainingQuotaRequest">
    <wsdl:part element="tns:GetRemainingQuotaRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetRemainingQuotaRequest_Headers">
    <wsdl:part element="tns:ApplicationToken" name="ApplicationToken"/>
    <wsdl:part element="tns:CustomerAccountId" name="CustomerAccountId"/>
    <wsdl:part element="tns:CustomerId" name="CustomerId"/>
    <wsdl:part element="tns:DeveloperToken" name="DeveloperToken"/>
    <wsdl:part element="tns:Password" name="Password"/>
    <wsdl:part element="tns:UserName" name="UserName"/>
  </wsdl:message>
  <wsdl:message name="GetRemainingQuotaResponse">
    <wsdl:part element="tns:GetRemainingQuotaResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetRemainingQuotaResponse_Headers">
    <wsdl:part element="tns:TrackingId" name="TrackingId"/>
  </wsdl:message>
  <wsdl:message name="IAdministrationService_GetRemainingQuota_AdApiFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q2="https://adapi.microsoft.com" element="q2:AdApiFaultDetail" name="detail"/>
  </wsdl:message>
  <wsdl:portType msc:usingSession="false" name="IAdministrationService">
    <wsdl:operation name="GetAssignedQuota">
      <wsdl:input message="tns:GetAssignedQuotaRequest" name="GetAssignedQuotaRequest" wsaw:Action="GetAssignedQuota"/>
      <wsdl:output message="tns:GetAssignedQuotaResponse" name="GetAssignedQuotaResponse" wsaw:Action="https://adcenter.microsoft.com/v8/IAdministrationService/GetAssignedQuotaResponse"/>
      <wsdl:fault message="tns:IAdministrationService_GetAssignedQuota_AdApiFaultDetailFault_FaultMessage" name="AdApiFaultDetailFault" wsaw:Action="https://adcenter.microsoft.com/v8/IAdministrationService/GetAssignedQuotaAdApiFaultDetailFault"/>
    </wsdl:operation>
    <wsdl:operation name="GetRemainingQuota">
      <wsdl:input message="tns:GetRemainingQuotaRequest" name="GetRemainingQuotaRequest" wsaw:Action="GetRemainingQuota"/>
      <wsdl:output message="tns:GetRemainingQuotaResponse" name="GetRemainingQuotaResponse" wsaw:Action="https://adcenter.microsoft.com/v8/IAdministrationService/GetRemainingQuotaResponse"/>
      <wsdl:fault message="tns:IAdministrationService_GetRemainingQuota_AdApiFaultDetailFault_FaultMessage" name="AdApiFaultDetailFault" wsaw:Action="https://adcenter.microsoft.com/v8/IAdministrationService/GetRemainingQuotaAdApiFaultDetailFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdministrationService" type="tns:IAdministrationService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IAdministrationService_policy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetAssignedQuota">
      <soap:operation soapAction="GetAssignedQuota" style="document"/>
      <wsdl:input name="GetAssignedQuotaRequest">
        <soap:header message="tns:GetAssignedQuotaRequest_Headers" part="ApplicationToken" use="literal"/>
        <soap:header message="tns:GetAssignedQuotaRequest_Headers" part="CustomerAccountId" use="literal"/>
        <soap:header message="tns:GetAssignedQuotaRequest_Headers" part="CustomerId" use="literal"/>
        <soap:header message="tns:GetAssignedQuotaRequest_Headers" part="DeveloperToken" use="literal"/>
        <soap:header message="tns:GetAssignedQuotaRequest_Headers" part="Password" use="literal"/>
        <soap:header message="tns:GetAssignedQuotaRequest_Headers" part="UserName" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAssignedQuotaResponse">
        <soap:header message="tns:GetAssignedQuotaResponse_Headers" part="TrackingId" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AdApiFaultDetailFault">
        <soap:fault name="AdApiFaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetRemainingQuota">
      <soap:operation soapAction="GetRemainingQuota" style="document"/>
      <wsdl:input name="GetRemainingQuotaRequest">
        <soap:header message="tns:GetRemainingQuotaRequest_Headers" part="ApplicationToken" use="literal"/>
        <soap:header message="tns:GetRemainingQuotaRequest_Headers" part="CustomerAccountId" use="literal"/>
        <soap:header message="tns:GetRemainingQuotaRequest_Headers" part="CustomerId" use="literal"/>
        <soap:header message="tns:GetRemainingQuotaRequest_Headers" part="DeveloperToken" use="literal"/>
        <soap:header message="tns:GetRemainingQuotaRequest_Headers" part="Password" use="literal"/>
        <soap:header message="tns:GetRemainingQuotaRequest_Headers" part="UserName" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetRemainingQuotaResponse">
        <soap:header message="tns:GetRemainingQuotaResponse_Headers" part="TrackingId" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AdApiFaultDetailFault">
        <soap:fault name="AdApiFaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdministrationService">
    <wsdl:port binding="tns:BasicHttpBinding_IAdministrationService" name="BasicHttpBinding_IAdministrationService">
      <soap:address location="https://adcenterapi.microsoft.com/Api/Advertiser/V8/Administration/AdministrationService.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
