tags/nan/error_handling/SemplestServices/wsdl/optimizer.wsdl

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<wsdl:definitions xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="https://adcenter.microsoft.com/v8" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OptimizerService" targetNamespace="https://adcenter.microsoft.com/v8">
  <wsp:Policy wsu:Id="BasicHttpBinding_IOptimizerService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false"/>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256/>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict/>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="https://adcenter.microsoft.com/v8/Imports">
      <xsd:import namespace="https://adcenter.microsoft.com/v8" schemaLocation="https://adcenterapi.microsoft.com/Api/Advertiser/V8/Optimizer/OptimizerService.svc?xsd=xsd0"/>
      <xsd:import namespace="https://adapi.microsoft.com" schemaLocation="https://adcenterapi.microsoft.com/Api/Advertiser/V8/Optimizer/OptimizerService.svc?xsd=xsd4"/>
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" schemaLocation="https://adcenterapi.microsoft.com/Api/Advertiser/V8/Optimizer/OptimizerService.svc?xsd=xsd1"/>
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Microsoft.AdCenter.Advertiser.Optimizer.Api.DataContracts.Entities" schemaLocation="https://adcenterapi.microsoft.com/Api/Advertiser/V8/Optimizer/OptimizerService.svc?xsd=xsd2"/>
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Microsoft.AdCenter.Advertiser.Optimizer.Api.DataContracts" schemaLocation="https://adcenterapi.microsoft.com/Api/Advertiser/V8/Optimizer/OptimizerService.svc?xsd=xsd3"/>
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Microsoft.AdCenter.Shared.Api" schemaLocation="https://adcenterapi.microsoft.com/Api/Advertiser/V8/Optimizer/OptimizerService.svc?xsd=xsd5"/>
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" schemaLocation="https://adcenterapi.microsoft.com/Api/Advertiser/V8/Optimizer/OptimizerService.svc?xsd=xsd6"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetBudgetOpportunitiesRequest">
    <wsdl:part element="tns:GetBudgetOpportunitiesRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetBudgetOpportunitiesRequest_Headers">
    <wsdl:part element="tns:ApplicationToken" name="ApplicationToken"/>
    <wsdl:part element="tns:CustomerAccountId" name="CustomerAccountId"/>
    <wsdl:part element="tns:CustomerId" name="CustomerId"/>
    <wsdl:part element="tns:DeveloperToken" name="DeveloperToken"/>
    <wsdl:part element="tns:Password" name="Password"/>
    <wsdl:part element="tns:UserName" name="UserName"/>
  </wsdl:message>
  <wsdl:message name="GetBudgetOpportunitiesResponse">
    <wsdl:part element="tns:GetBudgetOpportunitiesResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetBudgetOpportunitiesResponse_Headers">
    <wsdl:part element="tns:TrackingId" name="TrackingId"/>
  </wsdl:message>
  <wsdl:message name="IOptimizerService_GetBudgetOpportunities_ApiFaultDetailFault_FaultMessage">
    <wsdl:part element="tns:ApiFaultDetail" name="detail"/>
  </wsdl:message>
  <wsdl:message name="IOptimizerService_GetBudgetOpportunities_AdApiFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q1="https://adapi.microsoft.com" element="q1:AdApiFaultDetail" name="detail"/>
  </wsdl:message>
  <wsdl:message name="GetBidOpportunitiesRequest">
    <wsdl:part element="tns:GetBidOpportunitiesRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetBidOpportunitiesRequest_Headers">
    <wsdl:part element="tns:ApplicationToken" name="ApplicationToken"/>
    <wsdl:part element="tns:CustomerAccountId" name="CustomerAccountId"/>
    <wsdl:part element="tns:CustomerId" name="CustomerId"/>
    <wsdl:part element="tns:DeveloperToken" name="DeveloperToken"/>
    <wsdl:part element="tns:Password" name="Password"/>
    <wsdl:part element="tns:UserName" name="UserName"/>
  </wsdl:message>
  <wsdl:message name="GetBidOpportunitiesResponse">
    <wsdl:part element="tns:GetBidOpportunitiesResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetBidOpportunitiesResponse_Headers">
    <wsdl:part element="tns:TrackingId" name="TrackingId"/>
  </wsdl:message>
  <wsdl:message name="IOptimizerService_GetBidOpportunities_AdApiFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q2="https://adapi.microsoft.com" element="q2:AdApiFaultDetail" name="detail"/>
  </wsdl:message>
  <wsdl:message name="IOptimizerService_GetBidOpportunities_ApiFaultDetailFault_FaultMessage">
    <wsdl:part element="tns:ApiFaultDetail" name="detail"/>
  </wsdl:message>
  <wsdl:message name="ApplyBudgetOpportunitiesRequest">
    <wsdl:part element="tns:ApplyBudgetOpportunitiesRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ApplyBudgetOpportunitiesRequest_Headers">
    <wsdl:part element="tns:ApplicationToken" name="ApplicationToken"/>
    <wsdl:part element="tns:CustomerAccountId" name="CustomerAccountId"/>
    <wsdl:part element="tns:CustomerId" name="CustomerId"/>
    <wsdl:part element="tns:DeveloperToken" name="DeveloperToken"/>
    <wsdl:part element="tns:Password" name="Password"/>
    <wsdl:part element="tns:UserName" name="UserName"/>
  </wsdl:message>
  <wsdl:message name="ApplyBudgetOpportunitiesResponse">
    <wsdl:part element="tns:ApplyBudgetOpportunitiesResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ApplyBudgetOpportunitiesResponse_Headers">
    <wsdl:part element="tns:TrackingId" name="TrackingId"/>
  </wsdl:message>
  <wsdl:message name="IOptimizerService_ApplyBudgetOpportunities_ApiFaultDetailFault_FaultMessage">
    <wsdl:part element="tns:ApiFaultDetail" name="detail"/>
  </wsdl:message>
  <wsdl:message name="IOptimizerService_ApplyBudgetOpportunities_AdApiFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q3="https://adapi.microsoft.com" element="q3:AdApiFaultDetail" name="detail"/>
  </wsdl:message>
  <wsdl:message name="ApplyOpportunitiesRequest">
    <wsdl:part element="tns:ApplyOpportunitiesRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ApplyOpportunitiesRequest_Headers">
    <wsdl:part element="tns:ApplicationToken" name="ApplicationToken"/>
    <wsdl:part element="tns:CustomerAccountId" name="CustomerAccountId"/>
    <wsdl:part element="tns:CustomerId" name="CustomerId"/>
    <wsdl:part element="tns:DeveloperToken" name="DeveloperToken"/>
    <wsdl:part element="tns:Password" name="Password"/>
    <wsdl:part element="tns:UserName" name="UserName"/>
  </wsdl:message>
  <wsdl:message name="ApplyOpportunitiesResponse">
    <wsdl:part element="tns:ApplyOpportunitiesResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ApplyOpportunitiesResponse_Headers">
    <wsdl:part element="tns:TrackingId" name="TrackingId"/>
  </wsdl:message>
  <wsdl:message name="IOptimizerService_ApplyOpportunities_AdApiFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q4="https://adapi.microsoft.com" element="q4:AdApiFaultDetail" name="detail"/>
  </wsdl:message>
  <wsdl:message name="IOptimizerService_ApplyOpportunities_ApiFaultDetailFault_FaultMessage">
    <wsdl:part element="tns:ApiFaultDetail" name="detail"/>
  </wsdl:message>
  <wsdl:portType msc:usingSession="false" name="IOptimizerService">
    <wsdl:operation name="GetBudgetOpportunities">
      <wsdl:input message="tns:GetBudgetOpportunitiesRequest" name="GetBudgetOpportunitiesRequest" wsaw:Action="GetBudgetOpportunities"/>
      <wsdl:output message="tns:GetBudgetOpportunitiesResponse" name="GetBudgetOpportunitiesResponse" wsaw:Action="https://adcenter.microsoft.com/v8/IOptimizerService/GetBudgetOpportunitiesResponse"/>
      <wsdl:fault message="tns:IOptimizerService_GetBudgetOpportunities_ApiFaultDetailFault_FaultMessage" name="ApiFaultDetailFault" wsaw:Action="https://adcenter.microsoft.com/v8/IOptimizerService/GetBudgetOpportunitiesApiFaultDetailFault"/>
      <wsdl:fault message="tns:IOptimizerService_GetBudgetOpportunities_AdApiFaultDetailFault_FaultMessage" name="AdApiFaultDetailFault" wsaw:Action="https://adcenter.microsoft.com/v8/IOptimizerService/GetBudgetOpportunitiesAdApiFaultDetailFault"/>
    </wsdl:operation>
    <wsdl:operation name="GetBidOpportunities">
      <wsdl:input message="tns:GetBidOpportunitiesRequest" name="GetBidOpportunitiesRequest" wsaw:Action="GetBidOpportunities"/>
      <wsdl:output message="tns:GetBidOpportunitiesResponse" name="GetBidOpportunitiesResponse" wsaw:Action="https://adcenter.microsoft.com/v8/IOptimizerService/GetBidOpportunitiesResponse"/>
      <wsdl:fault message="tns:IOptimizerService_GetBidOpportunities_AdApiFaultDetailFault_FaultMessage" name="AdApiFaultDetailFault" wsaw:Action="https://adcenter.microsoft.com/v8/IOptimizerService/GetBidOpportunitiesAdApiFaultDetailFault"/>
      <wsdl:fault message="tns:IOptimizerService_GetBidOpportunities_ApiFaultDetailFault_FaultMessage" name="ApiFaultDetailFault" wsaw:Action="https://adcenter.microsoft.com/v8/IOptimizerService/GetBidOpportunitiesApiFaultDetailFault"/>
    </wsdl:operation>
    <wsdl:operation name="ApplyBudgetOpportunities">
      <wsdl:input message="tns:ApplyBudgetOpportunitiesRequest" name="ApplyBudgetOpportunitiesRequest" wsaw:Action="ApplyBudgetOpportunities"/>
      <wsdl:output message="tns:ApplyBudgetOpportunitiesResponse" name="ApplyBudgetOpportunitiesResponse" wsaw:Action="https://adcenter.microsoft.com/v8/IOptimizerService/ApplyBudgetOpportunitiesResponse"/>
      <wsdl:fault message="tns:IOptimizerService_ApplyBudgetOpportunities_ApiFaultDetailFault_FaultMessage" name="ApiFaultDetailFault" wsaw:Action="https://adcenter.microsoft.com/v8/IOptimizerService/ApplyBudgetOpportunitiesApiFaultDetailFault"/>
      <wsdl:fault message="tns:IOptimizerService_ApplyBudgetOpportunities_AdApiFaultDetailFault_FaultMessage" name="AdApiFaultDetailFault" wsaw:Action="https://adcenter.microsoft.com/v8/IOptimizerService/ApplyBudgetOpportunitiesAdApiFaultDetailFault"/>
    </wsdl:operation>
    <wsdl:operation name="ApplyOpportunities">
      <wsdl:input message="tns:ApplyOpportunitiesRequest" name="ApplyOpportunitiesRequest" wsaw:Action="ApplyOpportunities"/>
      <wsdl:output message="tns:ApplyOpportunitiesResponse" name="ApplyOpportunitiesResponse" wsaw:Action="https://adcenter.microsoft.com/v8/IOptimizerService/ApplyOpportunitiesResponse"/>
      <wsdl:fault message="tns:IOptimizerService_ApplyOpportunities_AdApiFaultDetailFault_FaultMessage" name="AdApiFaultDetailFault" wsaw:Action="https://adcenter.microsoft.com/v8/IOptimizerService/ApplyOpportunitiesAdApiFaultDetailFault"/>
      <wsdl:fault message="tns:IOptimizerService_ApplyOpportunities_ApiFaultDetailFault_FaultMessage" name="ApiFaultDetailFault" wsaw:Action="https://adcenter.microsoft.com/v8/IOptimizerService/ApplyOpportunitiesApiFaultDetailFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOptimizerService" type="tns:IOptimizerService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IOptimizerService_policy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetBudgetOpportunities">
      <soap:operation soapAction="GetBudgetOpportunities" style="document"/>
      <wsdl:input name="GetBudgetOpportunitiesRequest">
        <soap:header message="tns:GetBudgetOpportunitiesRequest_Headers" part="ApplicationToken" use="literal"/>
        <soap:header message="tns:GetBudgetOpportunitiesRequest_Headers" part="CustomerAccountId" use="literal"/>
        <soap:header message="tns:GetBudgetOpportunitiesRequest_Headers" part="CustomerId" use="literal"/>
        <soap:header message="tns:GetBudgetOpportunitiesRequest_Headers" part="DeveloperToken" use="literal"/>
        <soap:header message="tns:GetBudgetOpportunitiesRequest_Headers" part="Password" use="literal"/>
        <soap:header message="tns:GetBudgetOpportunitiesRequest_Headers" part="UserName" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetBudgetOpportunitiesResponse">
        <soap:header message="tns:GetBudgetOpportunitiesResponse_Headers" part="TrackingId" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiFaultDetailFault">
        <soap:fault name="ApiFaultDetailFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AdApiFaultDetailFault">
        <soap:fault name="AdApiFaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBidOpportunities">
      <soap:operation soapAction="GetBidOpportunities" style="document"/>
      <wsdl:input name="GetBidOpportunitiesRequest">
        <soap:header message="tns:GetBidOpportunitiesRequest_Headers" part="ApplicationToken" use="literal"/>
        <soap:header message="tns:GetBidOpportunitiesRequest_Headers" part="CustomerAccountId" use="literal"/>
        <soap:header message="tns:GetBidOpportunitiesRequest_Headers" part="CustomerId" use="literal"/>
        <soap:header message="tns:GetBidOpportunitiesRequest_Headers" part="DeveloperToken" use="literal"/>
        <soap:header message="tns:GetBidOpportunitiesRequest_Headers" part="Password" use="literal"/>
        <soap:header message="tns:GetBidOpportunitiesRequest_Headers" part="UserName" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetBidOpportunitiesResponse">
        <soap:header message="tns:GetBidOpportunitiesResponse_Headers" part="TrackingId" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AdApiFaultDetailFault">
        <soap:fault name="AdApiFaultDetailFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ApiFaultDetailFault">
        <soap:fault name="ApiFaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ApplyBudgetOpportunities">
      <soap:operation soapAction="ApplyBudgetOpportunities" style="document"/>
      <wsdl:input name="ApplyBudgetOpportunitiesRequest">
        <soap:header message="tns:ApplyBudgetOpportunitiesRequest_Headers" part="ApplicationToken" use="literal"/>
        <soap:header message="tns:ApplyBudgetOpportunitiesRequest_Headers" part="CustomerAccountId" use="literal"/>
        <soap:header message="tns:ApplyBudgetOpportunitiesRequest_Headers" part="CustomerId" use="literal"/>
        <soap:header message="tns:ApplyBudgetOpportunitiesRequest_Headers" part="DeveloperToken" use="literal"/>
        <soap:header message="tns:ApplyBudgetOpportunitiesRequest_Headers" part="Password" use="literal"/>
        <soap:header message="tns:ApplyBudgetOpportunitiesRequest_Headers" part="UserName" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ApplyBudgetOpportunitiesResponse">
        <soap:header message="tns:ApplyBudgetOpportunitiesResponse_Headers" part="TrackingId" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiFaultDetailFault">
        <soap:fault name="ApiFaultDetailFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AdApiFaultDetailFault">
        <soap:fault name="AdApiFaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ApplyOpportunities">
      <soap:operation soapAction="ApplyOpportunities" style="document"/>
      <wsdl:input name="ApplyOpportunitiesRequest">
        <soap:header message="tns:ApplyOpportunitiesRequest_Headers" part="ApplicationToken" use="literal"/>
        <soap:header message="tns:ApplyOpportunitiesRequest_Headers" part="CustomerAccountId" use="literal"/>
        <soap:header message="tns:ApplyOpportunitiesRequest_Headers" part="CustomerId" use="literal"/>
        <soap:header message="tns:ApplyOpportunitiesRequest_Headers" part="DeveloperToken" use="literal"/>
        <soap:header message="tns:ApplyOpportunitiesRequest_Headers" part="Password" use="literal"/>
        <soap:header message="tns:ApplyOpportunitiesRequest_Headers" part="UserName" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ApplyOpportunitiesResponse">
        <soap:header message="tns:ApplyOpportunitiesResponse_Headers" part="TrackingId" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AdApiFaultDetailFault">
        <soap:fault name="AdApiFaultDetailFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ApiFaultDetailFault">
        <soap:fault name="ApiFaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OptimizerService">
    <wsdl:port binding="tns:BasicHttpBinding_IOptimizerService" name="BasicHttpBinding_IOptimizerService">
      <soap:address location="https://adcenterapi.microsoft.com/Api/Advertiser/V8/Optimizer/OptimizerService.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
