dev/SemplestServices/wsdl/Notification.wsdl

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<wsdl:definitions xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="https://adcenter.microsoft.com/api/notifications" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NotificationService" targetNamespace="https://adcenter.microsoft.com/api/notifications">
  <wsp:Policy wsu:Id="BasicHttpBinding_INotificationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false"/>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256/>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict/>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="https://adcenter.microsoft.com/api/notifications/Imports">
      <xsd:import namespace="https://adcenter.microsoft.com/api/notifications" schemaLocation="https://sharedservices.adcenterapi.microsoft.com/Api/Notification/v8/NotificationService.svc?xsd=xsd0"/>
      <xsd:import namespace="https://adcenter.microsoft.com/api/notifications/Entities" schemaLocation="https://sharedservices.adcenterapi.microsoft.com/Api/Notification/v8/NotificationService.svc?xsd=xsd2"/>
      <xsd:import namespace="https://adapi.microsoft.com" schemaLocation="https://sharedservices.adcenterapi.microsoft.com/Api/Notification/v8/NotificationService.svc?xsd=xsd3"/>
      <xsd:import namespace="https://adcenter.microsoft.com/api/customermanagement/Exception" schemaLocation="https://sharedservices.adcenterapi.microsoft.com/Api/Notification/v8/NotificationService.svc?xsd=xsd4"/>
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" schemaLocation="https://sharedservices.adcenterapi.microsoft.com/Api/Notification/v8/NotificationService.svc?xsd=xsd1"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetNotificationsRequest">
    <wsdl:part element="tns:GetNotificationsRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetNotificationsRequest_Headers">
    <wsdl:part element="tns:ApplicationToken" name="ApplicationToken"/>
    <wsdl:part element="tns:DeveloperToken" name="DeveloperToken"/>
    <wsdl:part element="tns:Password" name="Password"/>
    <wsdl:part element="tns:UserName" name="UserName"/>
  </wsdl:message>
  <wsdl:message name="GetNotificationsResponse">
    <wsdl:part xmlns:q1="https://adcenter.microsoft.com/api/notifications/Entities" element="q1:GetNotificationsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetNotificationsResponse_Headers">
    <wsdl:part element="tns:TrackingId" name="TrackingId"/>
  </wsdl:message>
  <wsdl:message name="INotificationService_GetNotifications_AdApiFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q2="https://adapi.microsoft.com" element="q2:AdApiFaultDetail" name="detail"/>
  </wsdl:message>
  <wsdl:message name="INotificationService_GetNotifications_ApiFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="https://adcenter.microsoft.com/api/customermanagement/Exception" element="q3:ApiFault" name="detail"/>
  </wsdl:message>
  <wsdl:message name="GetArchivedNotificationsRequest">
    <wsdl:part element="tns:GetArchivedNotificationsRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetArchivedNotificationsRequest_Headers">
    <wsdl:part element="tns:ApplicationToken" name="ApplicationToken"/>
    <wsdl:part element="tns:DeveloperToken" name="DeveloperToken"/>
    <wsdl:part element="tns:Password" name="Password"/>
    <wsdl:part element="tns:UserName" name="UserName"/>
  </wsdl:message>
  <wsdl:message name="GetArchivedNotificationsResponse">
    <wsdl:part xmlns:q4="https://adcenter.microsoft.com/api/notifications/Entities" element="q4:GetArchivedNotificationsResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetArchivedNotificationsResponse_Headers">
    <wsdl:part element="tns:TrackingId" name="TrackingId"/>
  </wsdl:message>
  <wsdl:message name="INotificationService_GetArchivedNotifications_ApiFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="https://adcenter.microsoft.com/api/customermanagement/Exception" element="q5:ApiFault" name="detail"/>
  </wsdl:message>
  <wsdl:message name="INotificationService_GetArchivedNotifications_AdApiFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q6="https://adapi.microsoft.com" element="q6:AdApiFaultDetail" name="detail"/>
  </wsdl:message>
  <wsdl:portType msc:usingSession="false" name="INotificationService">
    <wsdl:operation name="GetNotifications">
      <wsdl:input message="tns:GetNotificationsRequest" name="GetNotificationsRequest" wsaw:Action="GetNotifications"/>
      <wsdl:output message="tns:GetNotificationsResponse" name="GetNotificationsResponse" wsaw:Action="https://adcenter.microsoft.com/api/notifications/INotificationService/GetNotificationsResponse"/>
      <wsdl:fault message="tns:INotificationService_GetNotifications_AdApiFaultDetailFault_FaultMessage" name="AdApiFaultDetailFault" wsaw:Action="https://adcenter.microsoft.com/api/notifications/INotificationService/GetNotificationsAdApiFaultDetailFault"/>
      <wsdl:fault message="tns:INotificationService_GetNotifications_ApiFaultFault_FaultMessage" name="ApiFaultFault" wsaw:Action="https://adcenter.microsoft.com/api/notifications/INotificationService/GetNotificationsApiFaultFault"/>
    </wsdl:operation>
    <wsdl:operation name="GetArchivedNotifications">
      <wsdl:input message="tns:GetArchivedNotificationsRequest" name="GetArchivedNotificationsRequest" wsaw:Action="GetArchivedNotifications"/>
      <wsdl:output message="tns:GetArchivedNotificationsResponse" name="GetArchivedNotificationsResponse" wsaw:Action="https://adcenter.microsoft.com/api/notifications/INotificationService/GetArchivedNotificationsResponse"/>
      <wsdl:fault message="tns:INotificationService_GetArchivedNotifications_ApiFaultFault_FaultMessage" name="ApiFaultFault" wsaw:Action="https://adcenter.microsoft.com/api/notifications/INotificationService/GetArchivedNotificationsApiFaultFault"/>
      <wsdl:fault message="tns:INotificationService_GetArchivedNotifications_AdApiFaultDetailFault_FaultMessage" name="AdApiFaultDetailFault" wsaw:Action="https://adcenter.microsoft.com/api/notifications/INotificationService/GetArchivedNotificationsAdApiFaultDetailFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INotificationService" type="tns:INotificationService">
    <wsp:PolicyReference URI="#BasicHttpBinding_INotificationService_policy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetNotifications">
      <soap:operation soapAction="GetNotifications" style="document"/>
      <wsdl:input name="GetNotificationsRequest">
        <soap:header message="tns:GetNotificationsRequest_Headers" part="ApplicationToken" use="literal"/>
        <soap:header message="tns:GetNotificationsRequest_Headers" part="DeveloperToken" use="literal"/>
        <soap:header message="tns:GetNotificationsRequest_Headers" part="Password" use="literal"/>
        <soap:header message="tns:GetNotificationsRequest_Headers" part="UserName" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetNotificationsResponse">
        <soap:header message="tns:GetNotificationsResponse_Headers" part="TrackingId" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AdApiFaultDetailFault">
        <soap:fault name="AdApiFaultDetailFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ApiFaultFault">
        <soap:fault name="ApiFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetArchivedNotifications">
      <soap:operation soapAction="GetArchivedNotifications" style="document"/>
      <wsdl:input name="GetArchivedNotificationsRequest">
        <soap:header message="tns:GetArchivedNotificationsRequest_Headers" part="ApplicationToken" use="literal"/>
        <soap:header message="tns:GetArchivedNotificationsRequest_Headers" part="DeveloperToken" use="literal"/>
        <soap:header message="tns:GetArchivedNotificationsRequest_Headers" part="Password" use="literal"/>
        <soap:header message="tns:GetArchivedNotificationsRequest_Headers" part="UserName" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetArchivedNotificationsResponse">
        <soap:header message="tns:GetArchivedNotificationsResponse_Headers" part="TrackingId" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiFaultFault">
        <soap:fault name="ApiFaultFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AdApiFaultDetailFault">
        <soap:fault name="AdApiFaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotificationService">
    <wsdl:port binding="tns:BasicHttpBinding_INotificationService" name="BasicHttpBinding_INotificationService">
      <soap:address location="https://sharedservices.adcenterapi.microsoft.com/Api/Notification/v8/NotificationService.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
