tags/mitch/NIO/SemplestServices/wsdl/CustomerBilling.wsdl

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<wsdl:definitions xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="https://adcenter.microsoft.com/api/customerbilling" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerBillingService" targetNamespace="https://adcenter.microsoft.com/api/customerbilling">
  <wsp:Policy wsu:Id="BasicHttpBinding_ICustomerBillingService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false"/>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256/>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict/>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="https://adcenter.microsoft.com/api/customerbilling/Imports">
      <xsd:import namespace="https://adcenter.microsoft.com/api/customerbilling" schemaLocation="https://sharedservices.adcenterapi.microsoft.com/Api/Billing/v8/CustomerBillingService.svc?xsd=xsd0"/>
      <xsd:import namespace="https://adapi.microsoft.com" schemaLocation="https://sharedservices.adcenterapi.microsoft.com/Api/Billing/v8/CustomerBillingService.svc?xsd=xsd4"/>
      <xsd:import namespace="https://adcenter.microsoft.com/api/customermanagement/Exception" schemaLocation="https://sharedservices.adcenterapi.microsoft.com/Api/Billing/v8/CustomerBillingService.svc?xsd=xsd5"/>
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" schemaLocation="https://sharedservices.adcenterapi.microsoft.com/Api/Billing/v8/CustomerBillingService.svc?xsd=xsd1"/>
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" schemaLocation="https://sharedservices.adcenterapi.microsoft.com/Api/Billing/v8/CustomerBillingService.svc?xsd=xsd2"/>
      <xsd:import namespace="https://adcenter.microsoft.com/api/customermanagement/Entities" schemaLocation="https://sharedservices.adcenterapi.microsoft.com/Api/Billing/v8/CustomerBillingService.svc?xsd=xsd3"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetInvoicesInfoRequest">
    <wsdl:part element="tns:GetInvoicesInfoRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetInvoicesInfoRequest_Headers">
    <wsdl:part element="tns:ApplicationToken" name="ApplicationToken"/>
    <wsdl:part element="tns:DeveloperToken" name="DeveloperToken"/>
    <wsdl:part element="tns:Password" name="Password"/>
    <wsdl:part element="tns:UserName" name="UserName"/>
  </wsdl:message>
  <wsdl:message name="GetInvoicesInfoResponse">
    <wsdl:part element="tns:GetInvoicesInfoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetInvoicesInfoResponse_Headers">
    <wsdl:part element="tns:TrackingId" name="TrackingId"/>
  </wsdl:message>
  <wsdl:message name="ICustomerBillingService_GetInvoicesInfo_AdApiFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q1="https://adapi.microsoft.com" element="q1:AdApiFaultDetail" name="detail"/>
  </wsdl:message>
  <wsdl:message name="ICustomerBillingService_GetInvoicesInfo_ApiBatchFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="https://adcenter.microsoft.com/api/customermanagement/Exception" element="q2:ApiBatchFault" name="detail"/>
  </wsdl:message>
  <wsdl:message name="ICustomerBillingService_GetInvoicesInfo_ApiFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="https://adcenter.microsoft.com/api/customermanagement/Exception" element="q3:ApiFault" name="detail"/>
  </wsdl:message>
  <wsdl:message name="GetInvoicesRequest">
    <wsdl:part element="tns:GetInvoicesRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetInvoicesRequest_Headers">
    <wsdl:part element="tns:ApplicationToken" name="ApplicationToken"/>
    <wsdl:part element="tns:DeveloperToken" name="DeveloperToken"/>
    <wsdl:part element="tns:Password" name="Password"/>
    <wsdl:part element="tns:UserName" name="UserName"/>
  </wsdl:message>
  <wsdl:message name="GetInvoicesResponse">
    <wsdl:part element="tns:GetInvoicesResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetInvoicesResponse_Headers">
    <wsdl:part element="tns:TrackingId" name="TrackingId"/>
  </wsdl:message>
  <wsdl:message name="ICustomerBillingService_GetInvoices_ApiFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="https://adcenter.microsoft.com/api/customermanagement/Exception" element="q4:ApiFault" name="detail"/>
  </wsdl:message>
  <wsdl:message name="ICustomerBillingService_GetInvoices_ApiBatchFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="https://adcenter.microsoft.com/api/customermanagement/Exception" element="q5:ApiBatchFault" name="detail"/>
  </wsdl:message>
  <wsdl:message name="ICustomerBillingService_GetInvoices_AdApiFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q6="https://adapi.microsoft.com" element="q6:AdApiFaultDetail" name="detail"/>
  </wsdl:message>
  <wsdl:message name="GetDisplayInvoicesRequest">
    <wsdl:part element="tns:GetDisplayInvoicesRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetDisplayInvoicesRequest_Headers">
    <wsdl:part element="tns:ApplicationToken" name="ApplicationToken"/>
    <wsdl:part element="tns:DeveloperToken" name="DeveloperToken"/>
    <wsdl:part element="tns:Password" name="Password"/>
    <wsdl:part element="tns:UserName" name="UserName"/>
  </wsdl:message>
  <wsdl:message name="GetDisplayInvoicesResponse">
    <wsdl:part element="tns:GetDisplayInvoicesResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetDisplayInvoicesResponse_Headers">
    <wsdl:part element="tns:TrackingId" name="TrackingId"/>
  </wsdl:message>
  <wsdl:message name="ICustomerBillingService_GetDisplayInvoices_ApiBatchFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="https://adcenter.microsoft.com/api/customermanagement/Exception" element="q7:ApiBatchFault" name="detail"/>
  </wsdl:message>
  <wsdl:message name="ICustomerBillingService_GetDisplayInvoices_ApiFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="https://adcenter.microsoft.com/api/customermanagement/Exception" element="q8:ApiFault" name="detail"/>
  </wsdl:message>
  <wsdl:message name="ICustomerBillingService_GetDisplayInvoices_AdApiFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q9="https://adapi.microsoft.com" element="q9:AdApiFaultDetail" name="detail"/>
  </wsdl:message>
  <wsdl:message name="AddInsertionOrderRequest">
    <wsdl:part element="tns:AddInsertionOrderRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AddInsertionOrderRequest_Headers">
    <wsdl:part element="tns:ApplicationToken" name="ApplicationToken"/>
    <wsdl:part element="tns:DeveloperToken" name="DeveloperToken"/>
    <wsdl:part element="tns:Password" name="Password"/>
    <wsdl:part element="tns:UserName" name="UserName"/>
  </wsdl:message>
  <wsdl:message name="AddInsertionOrderResponse">
    <wsdl:part element="tns:AddInsertionOrderResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AddInsertionOrderResponse_Headers">
    <wsdl:part element="tns:TrackingId" name="TrackingId"/>
  </wsdl:message>
  <wsdl:message name="ICustomerBillingService_AddInsertionOrder_ApiFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="https://adcenter.microsoft.com/api/customermanagement/Exception" element="q10:ApiFault" name="detail"/>
  </wsdl:message>
  <wsdl:message name="ICustomerBillingService_AddInsertionOrder_AdApiFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q11="https://adapi.microsoft.com" element="q11:AdApiFaultDetail" name="detail"/>
  </wsdl:message>
  <wsdl:message name="UpdateInsertionOrderRequest">
    <wsdl:part element="tns:UpdateInsertionOrderRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="UpdateInsertionOrderRequest_Headers">
    <wsdl:part element="tns:ApplicationToken" name="ApplicationToken"/>
    <wsdl:part element="tns:DeveloperToken" name="DeveloperToken"/>
    <wsdl:part element="tns:Password" name="Password"/>
    <wsdl:part element="tns:UserName" name="UserName"/>
  </wsdl:message>
  <wsdl:message name="UpdateInsertionOrderResponse">
    <wsdl:part element="tns:UpdateInsertionOrderResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="UpdateInsertionOrderResponse_Headers">
    <wsdl:part element="tns:TrackingId" name="TrackingId"/>
  </wsdl:message>
  <wsdl:message name="ICustomerBillingService_UpdateInsertionOrder_AdApiFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q12="https://adapi.microsoft.com" element="q12:AdApiFaultDetail" name="detail"/>
  </wsdl:message>
  <wsdl:message name="ICustomerBillingService_UpdateInsertionOrder_ApiFaultFault_FaultMessage">
    <wsdl:part xmlns:q13="https://adcenter.microsoft.com/api/customermanagement/Exception" element="q13:ApiFault" name="detail"/>
  </wsdl:message>
  <wsdl:message name="GetInsertionOrdersByAccountRequest">
    <wsdl:part element="tns:GetInsertionOrdersByAccountRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetInsertionOrdersByAccountRequest_Headers">
    <wsdl:part element="tns:ApplicationToken" name="ApplicationToken"/>
    <wsdl:part element="tns:DeveloperToken" name="DeveloperToken"/>
    <wsdl:part element="tns:Password" name="Password"/>
    <wsdl:part element="tns:UserName" name="UserName"/>
  </wsdl:message>
  <wsdl:message name="GetInsertionOrdersByAccountResponse">
    <wsdl:part element="tns:GetInsertionOrdersByAccountResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetInsertionOrdersByAccountResponse_Headers">
    <wsdl:part element="tns:TrackingId" name="TrackingId"/>
  </wsdl:message>
  <wsdl:message name="ICustomerBillingService_GetInsertionOrdersByAccount_AdApiFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q14="https://adapi.microsoft.com" element="q14:AdApiFaultDetail" name="detail"/>
  </wsdl:message>
  <wsdl:message name="ICustomerBillingService_GetInsertionOrdersByAccount_ApiFaultFault_FaultMessage">
    <wsdl:part xmlns:q15="https://adcenter.microsoft.com/api/customermanagement/Exception" element="q15:ApiFault" name="detail"/>
  </wsdl:message>
  <wsdl:message name="GetKOHIOInvoicesRequest">
    <wsdl:part element="tns:GetKOHIOInvoicesRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetKOHIOInvoicesRequest_Headers">
    <wsdl:part element="tns:ApplicationToken" name="ApplicationToken"/>
    <wsdl:part element="tns:DeveloperToken" name="DeveloperToken"/>
    <wsdl:part element="tns:Password" name="Password"/>
    <wsdl:part element="tns:UserName" name="UserName"/>
  </wsdl:message>
  <wsdl:message name="GetKOHIOInvoicesResponse">
    <wsdl:part element="tns:GetKOHIOInvoicesResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetKOHIOInvoicesResponse_Headers">
    <wsdl:part element="tns:TrackingId" name="TrackingId"/>
  </wsdl:message>
  <wsdl:message name="ICustomerBillingService_GetKOHIOInvoices_ApiBatchFaultFault_FaultMessage">
    <wsdl:part xmlns:q16="https://adcenter.microsoft.com/api/customermanagement/Exception" element="q16:ApiBatchFault" name="detail"/>
  </wsdl:message>
  <wsdl:message name="ICustomerBillingService_GetKOHIOInvoices_ApiFaultFault_FaultMessage">
    <wsdl:part xmlns:q17="https://adcenter.microsoft.com/api/customermanagement/Exception" element="q17:ApiFault" name="detail"/>
  </wsdl:message>
  <wsdl:message name="ICustomerBillingService_GetKOHIOInvoices_AdApiFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q18="https://adapi.microsoft.com" element="q18:AdApiFaultDetail" name="detail"/>
  </wsdl:message>
  <wsdl:message name="GetAccountMonthlySpendRequest">
    <wsdl:part element="tns:GetAccountMonthlySpendRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetAccountMonthlySpendRequest_Headers">
    <wsdl:part element="tns:ApplicationToken" name="ApplicationToken"/>
    <wsdl:part element="tns:DeveloperToken" name="DeveloperToken"/>
    <wsdl:part element="tns:Password" name="Password"/>
    <wsdl:part element="tns:UserName" name="UserName"/>
  </wsdl:message>
  <wsdl:message name="GetAccountMonthlySpendResponse">
    <wsdl:part element="tns:GetAccountMonthlySpendResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetAccountMonthlySpendResponse_Headers">
    <wsdl:part element="tns:TrackingId" name="TrackingId"/>
  </wsdl:message>
  <wsdl:message name="ICustomerBillingService_GetAccountMonthlySpend_AdApiFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q19="https://adapi.microsoft.com" element="q19:AdApiFaultDetail" name="detail"/>
  </wsdl:message>
  <wsdl:message name="ICustomerBillingService_GetAccountMonthlySpend_ApiFaultFault_FaultMessage">
    <wsdl:part xmlns:q20="https://adcenter.microsoft.com/api/customermanagement/Exception" element="q20:ApiFault" name="detail"/>
  </wsdl:message>
  <wsdl:portType msc:usingSession="false" name="ICustomerBillingService">
    <wsdl:operation name="GetInvoicesInfo">
      <wsdl:input message="tns:GetInvoicesInfoRequest" name="GetInvoicesInfoRequest" wsaw:Action="GetInvoicesInfo"/>
      <wsdl:output message="tns:GetInvoicesInfoResponse" name="GetInvoicesInfoResponse" wsaw:Action="https://adcenter.microsoft.com/api/customerbilling/ICustomerBillingService/GetInvoicesInfoResponse"/>
      <wsdl:fault message="tns:ICustomerBillingService_GetInvoicesInfo_AdApiFaultDetailFault_FaultMessage" name="AdApiFaultDetailFault" wsaw:Action="https://adcenter.microsoft.com/api/customerbilling/ICustomerBillingService/GetInvoicesInfoAdApiFaultDetailFault"/>
      <wsdl:fault message="tns:ICustomerBillingService_GetInvoicesInfo_ApiBatchFaultFault_FaultMessage" name="ApiBatchFaultFault" wsaw:Action="https://adcenter.microsoft.com/api/customerbilling/ICustomerBillingService/GetInvoicesInfoApiBatchFaultFault"/>
      <wsdl:fault message="tns:ICustomerBillingService_GetInvoicesInfo_ApiFaultFault_FaultMessage" name="ApiFaultFault" wsaw:Action="https://adcenter.microsoft.com/api/customerbilling/ICustomerBillingService/GetInvoicesInfoApiFaultFault"/>
    </wsdl:operation>
    <wsdl:operation name="GetInvoices">
      <wsdl:input message="tns:GetInvoicesRequest" name="GetInvoicesRequest" wsaw:Action="GetInvoices"/>
      <wsdl:output message="tns:GetInvoicesResponse" name="GetInvoicesResponse" wsaw:Action="https://adcenter.microsoft.com/api/customerbilling/ICustomerBillingService/GetInvoicesResponse"/>
      <wsdl:fault message="tns:ICustomerBillingService_GetInvoices_ApiFaultFault_FaultMessage" name="ApiFaultFault" wsaw:Action="https://adcenter.microsoft.com/api/customerbilling/ICustomerBillingService/GetInvoicesApiFaultFault"/>
      <wsdl:fault message="tns:ICustomerBillingService_GetInvoices_ApiBatchFaultFault_FaultMessage" name="ApiBatchFaultFault" wsaw:Action="https://adcenter.microsoft.com/api/customerbilling/ICustomerBillingService/GetInvoicesApiBatchFaultFault"/>
      <wsdl:fault message="tns:ICustomerBillingService_GetInvoices_AdApiFaultDetailFault_FaultMessage" name="AdApiFaultDetailFault" wsaw:Action="https://adcenter.microsoft.com/api/customerbilling/ICustomerBillingService/GetInvoicesAdApiFaultDetailFault"/>
    </wsdl:operation>
    <wsdl:operation name="GetDisplayInvoices">
      <wsdl:input message="tns:GetDisplayInvoicesRequest" name="GetDisplayInvoicesRequest" wsaw:Action="GetDisplayInvoices"/>
      <wsdl:output message="tns:GetDisplayInvoicesResponse" name="GetDisplayInvoicesResponse" wsaw:Action="https://adcenter.microsoft.com/api/customerbilling/ICustomerBillingService/GetDisplayInvoicesResponse"/>
      <wsdl:fault message="tns:ICustomerBillingService_GetDisplayInvoices_ApiBatchFaultFault_FaultMessage" name="ApiBatchFaultFault" wsaw:Action="https://adcenter.microsoft.com/api/customerbilling/ICustomerBillingService/GetDisplayInvoicesApiBatchFaultFault"/>
      <wsdl:fault message="tns:ICustomerBillingService_GetDisplayInvoices_ApiFaultFault_FaultMessage" name="ApiFaultFault" wsaw:Action="https://adcenter.microsoft.com/api/customerbilling/ICustomerBillingService/GetDisplayInvoicesApiFaultFault"/>
      <wsdl:fault message="tns:ICustomerBillingService_GetDisplayInvoices_AdApiFaultDetailFault_FaultMessage" name="AdApiFaultDetailFault" wsaw:Action="https://adcenter.microsoft.com/api/customerbilling/ICustomerBillingService/GetDisplayInvoicesAdApiFaultDetailFault"/>
    </wsdl:operation>
    <wsdl:operation name="AddInsertionOrder">
      <wsdl:input message="tns:AddInsertionOrderRequest" name="AddInsertionOrderRequest" wsaw:Action="AddInsertionOrder"/>
      <wsdl:output message="tns:AddInsertionOrderResponse" name="AddInsertionOrderResponse" wsaw:Action="https://adcenter.microsoft.com/api/customerbilling/ICustomerBillingService/AddInsertionOrderResponse"/>
      <wsdl:fault message="tns:ICustomerBillingService_AddInsertionOrder_ApiFaultFault_FaultMessage" name="ApiFaultFault" wsaw:Action="https://adcenter.microsoft.com/api/customerbilling/ICustomerBillingService/AddInsertionOrderApiFaultFault"/>
      <wsdl:fault message="tns:ICustomerBillingService_AddInsertionOrder_AdApiFaultDetailFault_FaultMessage" name="AdApiFaultDetailFault" wsaw:Action="https://adcenter.microsoft.com/api/customerbilling/ICustomerBillingService/AddInsertionOrderAdApiFaultDetailFault"/>
    </wsdl:operation>
    <wsdl:operation name="UpdateInsertionOrder">
      <wsdl:input message="tns:UpdateInsertionOrderRequest" name="UpdateInsertionOrderRequest" wsaw:Action="UpdateInsertionOrder"/>
      <wsdl:output message="tns:UpdateInsertionOrderResponse" name="UpdateInsertionOrderResponse" wsaw:Action="https://adcenter.microsoft.com/api/customerbilling/ICustomerBillingService/UpdateInsertionOrderResponse"/>
      <wsdl:fault message="tns:ICustomerBillingService_UpdateInsertionOrder_AdApiFaultDetailFault_FaultMessage" name="AdApiFaultDetailFault" wsaw:Action="https://adcenter.microsoft.com/api/customerbilling/ICustomerBillingService/UpdateInsertionOrderAdApiFaultDetailFault"/>
      <wsdl:fault message="tns:ICustomerBillingService_UpdateInsertionOrder_ApiFaultFault_FaultMessage" name="ApiFaultFault" wsaw:Action="https://adcenter.microsoft.com/api/customerbilling/ICustomerBillingService/UpdateInsertionOrderApiFaultFault"/>
    </wsdl:operation>
    <wsdl:operation name="GetInsertionOrdersByAccount">
      <wsdl:input message="tns:GetInsertionOrdersByAccountRequest" name="GetInsertionOrdersByAccountRequest" wsaw:Action="GetInsertionOrdersByAccount"/>
      <wsdl:output message="tns:GetInsertionOrdersByAccountResponse" name="GetInsertionOrdersByAccountResponse" wsaw:Action="https://adcenter.microsoft.com/api/customerbilling/ICustomerBillingService/GetInsertionOrdersByAccountResponse"/>
      <wsdl:fault message="tns:ICustomerBillingService_GetInsertionOrdersByAccount_AdApiFaultDetailFault_FaultMessage" name="AdApiFaultDetailFault" wsaw:Action="https://adcenter.microsoft.com/api/customerbilling/ICustomerBillingService/GetInsertionOrdersByAccountAdApiFaultDetailFault"/>
      <wsdl:fault message="tns:ICustomerBillingService_GetInsertionOrdersByAccount_ApiFaultFault_FaultMessage" name="ApiFaultFault" wsaw:Action="https://adcenter.microsoft.com/api/customerbilling/ICustomerBillingService/GetInsertionOrdersByAccountApiFaultFault"/>
    </wsdl:operation>
    <wsdl:operation name="GetKOHIOInvoices">
      <wsdl:input message="tns:GetKOHIOInvoicesRequest" name="GetKOHIOInvoicesRequest" wsaw:Action="GetKOHIOInvoices"/>
      <wsdl:output message="tns:GetKOHIOInvoicesResponse" name="GetKOHIOInvoicesResponse" wsaw:Action="https://adcenter.microsoft.com/api/customerbilling/ICustomerBillingService/GetKOHIOInvoicesResponse"/>
      <wsdl:fault message="tns:ICustomerBillingService_GetKOHIOInvoices_ApiBatchFaultFault_FaultMessage" name="ApiBatchFaultFault" wsaw:Action="https://adcenter.microsoft.com/api/customerbilling/ICustomerBillingService/GetKOHIOInvoicesApiBatchFaultFault"/>
      <wsdl:fault message="tns:ICustomerBillingService_GetKOHIOInvoices_ApiFaultFault_FaultMessage" name="ApiFaultFault" wsaw:Action="https://adcenter.microsoft.com/api/customerbilling/ICustomerBillingService/GetKOHIOInvoicesApiFaultFault"/>
      <wsdl:fault message="tns:ICustomerBillingService_GetKOHIOInvoices_AdApiFaultDetailFault_FaultMessage" name="AdApiFaultDetailFault" wsaw:Action="https://adcenter.microsoft.com/api/customerbilling/ICustomerBillingService/GetKOHIOInvoicesAdApiFaultDetailFault"/>
    </wsdl:operation>
    <wsdl:operation name="GetAccountMonthlySpend">
      <wsdl:input message="tns:GetAccountMonthlySpendRequest" name="GetAccountMonthlySpendRequest" wsaw:Action="GetAccountMonthlySpend"/>
      <wsdl:output message="tns:GetAccountMonthlySpendResponse" name="GetAccountMonthlySpendResponse" wsaw:Action="https://adcenter.microsoft.com/api/customerbilling/ICustomerBillingService/GetAccountMonthlySpendResponse"/>
      <wsdl:fault message="tns:ICustomerBillingService_GetAccountMonthlySpend_AdApiFaultDetailFault_FaultMessage" name="AdApiFaultDetailFault" wsaw:Action="https://adcenter.microsoft.com/api/customerbilling/ICustomerBillingService/GetAccountMonthlySpendAdApiFaultDetailFault"/>
      <wsdl:fault message="tns:ICustomerBillingService_GetAccountMonthlySpend_ApiFaultFault_FaultMessage" name="ApiFaultFault" wsaw:Action="https://adcenter.microsoft.com/api/customerbilling/ICustomerBillingService/GetAccountMonthlySpendApiFaultFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomerBillingService" type="tns:ICustomerBillingService">
    <wsp:PolicyReference URI="#BasicHttpBinding_ICustomerBillingService_policy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetInvoicesInfo">
      <soap:operation soapAction="GetInvoicesInfo" style="document"/>
      <wsdl:input name="GetInvoicesInfoRequest">
        <soap:header message="tns:GetInvoicesInfoRequest_Headers" part="ApplicationToken" use="literal"/>
        <soap:header message="tns:GetInvoicesInfoRequest_Headers" part="DeveloperToken" use="literal"/>
        <soap:header message="tns:GetInvoicesInfoRequest_Headers" part="Password" use="literal"/>
        <soap:header message="tns:GetInvoicesInfoRequest_Headers" part="UserName" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetInvoicesInfoResponse">
        <soap:header message="tns:GetInvoicesInfoResponse_Headers" part="TrackingId" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AdApiFaultDetailFault">
        <soap:fault name="AdApiFaultDetailFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ApiBatchFaultFault">
        <soap:fault name="ApiBatchFaultFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ApiFaultFault">
        <soap:fault name="ApiFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetInvoices">
      <soap:operation soapAction="GetInvoices" style="document"/>
      <wsdl:input name="GetInvoicesRequest">
        <soap:header message="tns:GetInvoicesRequest_Headers" part="ApplicationToken" use="literal"/>
        <soap:header message="tns:GetInvoicesRequest_Headers" part="DeveloperToken" use="literal"/>
        <soap:header message="tns:GetInvoicesRequest_Headers" part="Password" use="literal"/>
        <soap:header message="tns:GetInvoicesRequest_Headers" part="UserName" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetInvoicesResponse">
        <soap:header message="tns:GetInvoicesResponse_Headers" part="TrackingId" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiFaultFault">
        <soap:fault name="ApiFaultFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ApiBatchFaultFault">
        <soap:fault name="ApiBatchFaultFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AdApiFaultDetailFault">
        <soap:fault name="AdApiFaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDisplayInvoices">
      <soap:operation soapAction="GetDisplayInvoices" style="document"/>
      <wsdl:input name="GetDisplayInvoicesRequest">
        <soap:header message="tns:GetDisplayInvoicesRequest_Headers" part="ApplicationToken" use="literal"/>
        <soap:header message="tns:GetDisplayInvoicesRequest_Headers" part="DeveloperToken" use="literal"/>
        <soap:header message="tns:GetDisplayInvoicesRequest_Headers" part="Password" use="literal"/>
        <soap:header message="tns:GetDisplayInvoicesRequest_Headers" part="UserName" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetDisplayInvoicesResponse">
        <soap:header message="tns:GetDisplayInvoicesResponse_Headers" part="TrackingId" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiBatchFaultFault">
        <soap:fault name="ApiBatchFaultFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ApiFaultFault">
        <soap:fault name="ApiFaultFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AdApiFaultDetailFault">
        <soap:fault name="AdApiFaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddInsertionOrder">
      <soap:operation soapAction="AddInsertionOrder" style="document"/>
      <wsdl:input name="AddInsertionOrderRequest">
        <soap:header message="tns:AddInsertionOrderRequest_Headers" part="ApplicationToken" use="literal"/>
        <soap:header message="tns:AddInsertionOrderRequest_Headers" part="DeveloperToken" use="literal"/>
        <soap:header message="tns:AddInsertionOrderRequest_Headers" part="Password" use="literal"/>
        <soap:header message="tns:AddInsertionOrderRequest_Headers" part="UserName" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AddInsertionOrderResponse">
        <soap:header message="tns:AddInsertionOrderResponse_Headers" part="TrackingId" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiFaultFault">
        <soap:fault name="ApiFaultFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AdApiFaultDetailFault">
        <soap:fault name="AdApiFaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateInsertionOrder">
      <soap:operation soapAction="UpdateInsertionOrder" style="document"/>
      <wsdl:input name="UpdateInsertionOrderRequest">
        <soap:header message="tns:UpdateInsertionOrderRequest_Headers" part="ApplicationToken" use="literal"/>
        <soap:header message="tns:UpdateInsertionOrderRequest_Headers" part="DeveloperToken" use="literal"/>
        <soap:header message="tns:UpdateInsertionOrderRequest_Headers" part="Password" use="literal"/>
        <soap:header message="tns:UpdateInsertionOrderRequest_Headers" part="UserName" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="UpdateInsertionOrderResponse">
        <soap:header message="tns:UpdateInsertionOrderResponse_Headers" part="TrackingId" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AdApiFaultDetailFault">
        <soap:fault name="AdApiFaultDetailFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ApiFaultFault">
        <soap:fault name="ApiFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetInsertionOrdersByAccount">
      <soap:operation soapAction="GetInsertionOrdersByAccount" style="document"/>
      <wsdl:input name="GetInsertionOrdersByAccountRequest">
        <soap:header message="tns:GetInsertionOrdersByAccountRequest_Headers" part="ApplicationToken" use="literal"/>
        <soap:header message="tns:GetInsertionOrdersByAccountRequest_Headers" part="DeveloperToken" use="literal"/>
        <soap:header message="tns:GetInsertionOrdersByAccountRequest_Headers" part="Password" use="literal"/>
        <soap:header message="tns:GetInsertionOrdersByAccountRequest_Headers" part="UserName" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetInsertionOrdersByAccountResponse">
        <soap:header message="tns:GetInsertionOrdersByAccountResponse_Headers" part="TrackingId" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AdApiFaultDetailFault">
        <soap:fault name="AdApiFaultDetailFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ApiFaultFault">
        <soap:fault name="ApiFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetKOHIOInvoices">
      <soap:operation soapAction="GetKOHIOInvoices" style="document"/>
      <wsdl:input name="GetKOHIOInvoicesRequest">
        <soap:header message="tns:GetKOHIOInvoicesRequest_Headers" part="ApplicationToken" use="literal"/>
        <soap:header message="tns:GetKOHIOInvoicesRequest_Headers" part="DeveloperToken" use="literal"/>
        <soap:header message="tns:GetKOHIOInvoicesRequest_Headers" part="Password" use="literal"/>
        <soap:header message="tns:GetKOHIOInvoicesRequest_Headers" part="UserName" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetKOHIOInvoicesResponse">
        <soap:header message="tns:GetKOHIOInvoicesResponse_Headers" part="TrackingId" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiBatchFaultFault">
        <soap:fault name="ApiBatchFaultFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ApiFaultFault">
        <soap:fault name="ApiFaultFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="AdApiFaultDetailFault">
        <soap:fault name="AdApiFaultDetailFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAccountMonthlySpend">
      <soap:operation soapAction="GetAccountMonthlySpend" style="document"/>
      <wsdl:input name="GetAccountMonthlySpendRequest">
        <soap:header message="tns:GetAccountMonthlySpendRequest_Headers" part="ApplicationToken" use="literal"/>
        <soap:header message="tns:GetAccountMonthlySpendRequest_Headers" part="DeveloperToken" use="literal"/>
        <soap:header message="tns:GetAccountMonthlySpendRequest_Headers" part="Password" use="literal"/>
        <soap:header message="tns:GetAccountMonthlySpendRequest_Headers" part="UserName" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAccountMonthlySpendResponse">
        <soap:header message="tns:GetAccountMonthlySpendResponse_Headers" part="TrackingId" use="literal"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="AdApiFaultDetailFault">
        <soap:fault name="AdApiFaultDetailFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ApiFaultFault">
        <soap:fault name="ApiFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerBillingService">
    <wsdl:port binding="tns:BasicHttpBinding_ICustomerBillingService" name="BasicHttpBinding_ICustomerBillingService">
      <soap:address location="https://sharedservices.adcenterapi.microsoft.com/Api/Billing/v8/CustomerBillingService.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
